/* -- Universal CSS -- */

* {
    margin: 0;
    font-family: 'Roboto', arial;
}

ul {
    /* this removes the dots on the list items*/
    list-style-type: none;
    display: flex;
    gap: 10px;
  }

  a {
    padding: 10px;
    color: #F9faf8;
    /* this removes the line under the links */
    text-decoration: none;
  }

/* -- Header CSS -- */

.header  {
    background: #1F2937;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .left-links {
    font-size: 24px;
  }

  .right-links {
    font-size: 16px;
  }

/* -- First Section -- */

.first-section {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 90px;
}

.first-text {
    display: flex;
    flex-direction: column;
    flex-basis: 400px;
    text-align: left;
    margin-right: 50px;
}

.first-text p {
    opacity: 0.7;
    margin: 10px;
}

.first-button {
    display: block;
    text-align: center;
    width: 110px;
    border: none;
    background: #3882f6;
    padding: 10px;
    border-radius: 8px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    margin: 10px;
}

.first-photo {
    background-color: grey;
    height: 250px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    margin: 10px;
}

/* -- Second Section -- */

h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
}

.second-section {
    padding-bottom: 100px;
}

.four-columns {
    display: flex;
    align-items: center;
    justify-content: center;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    width: 125px;
}

.box {
    border-color:#3882f6;
    border-radius: 8px;
    border-width: 3px;
    border-style: solid;
    height: 125px;
    width: 125px;
}

.column p {
    margin-top: 10px;
    text-align: center;
}

/* -- Third Section -- */

.third-section {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    padding: 100px;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

.quote-sign {
    font-weight: bold;
    text-align: right;
    margin-top: 10px;
}

/* -- Third Section -- */

.fourth-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.long-box {
    background-color: #3882f6;
    padding: 50px;
    border-radius: 8px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fourth-left {
    margin-right: 50px;
    display: flex;
    flex-direction: column;
}

.fourth-left p {
    font-size: 12px;
    font-weight: lighter;
    opacity: 0.8;
}

.fourth-right button {
    border-color: white;
    border-width: 2px;
    border-radius: 8px;
    border-style: solid;
    background-color: transparent;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

/* -- Footer -- */

.footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: content;
    padding: 30px;
}

.footer p {
    color: white;
}